{% extends 'base_layout.html' %}

{% block content %}


    <style>


        .ui-widget-overlay {
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            background: #000000;
            opacity: 0.7;
        }


    </style>


    <section class="content">


                <div class="box box-primary">
                    <center>
                        <h2 class="header">
                            <div class="content">
                                {{ competition.name }} <br> SONUÇLARI
                            </div>
                        </h2>
                    </center>

                    <div class="box-body">

                        <table class="table sonuclar">
                            <thead>
                            <tr>
                                <th rowspan="2">
                                    <center>Derece</center>
                                </th>
                                <th rowspan="2">
                                    <center>Ad Soyad</center>
                                </th>

                                <th rowspan="2">
                                    <center>Kategori</center>
                                </th>
                                <th rowspan="2">
                                    <center>Doğum <br> Yılı</center>
                                </th>
                                <th rowspan="2">
                                    <center>Kilo</center>
                                </th>
                                <th rowspan="2">
                                    <center>İl/Kulüp</center>
                                </th>
                                <th colspan="3">
                                    <center>Koparma</center>
                                </th>
                                <th rowspan="2">
                                    <center>Koparma <br> Toplam</center>
                                </th>
                                <th colspan="3">
                                    <center>Silkme</center>
                                </th>
                                <th rowspan="2">
                                    <center>Silkme <br> Toplam</center>
                                </th>

                                <th rowspan="2">
                                    <center>Toplam</center>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                    <center>1</center>
                                </th>
                                <th>
                                    <center>2</center>
                                </th>
                                <th>
                                    <center>3</center>
                                </th>
                                <th>
                                    <center>1</center>
                                </th>
                                <th>
                                    <center>2</center>
                                </th>
                                <th>
                                    <center>3</center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if compAthlete.all %}

                                {% for athlete in compAthlete %}






                                    <tr>


                                            <th>
                                                <div align="right" class="ui tiny header">

                                                    {% if athlete.degree != 0 %}

                                                        {{ athlete.degree }}
                                                    {% else %}
                                                        <p>-</p>
                                                    {% endif %}

                                                </div>

                                            </th>
                                            <th>{{ athlete.athlete.user.first_name }} {{ athlete.athlete.user.last_name }}</th>

                                        <th>


                                            {% if athlete.compcategory.sex == 0 %}
                                                ERKEK  {{ athlete.sıklet.weight }} KG
                                            {% else %}
                                                BAYAN  {{ athlete.sıklet.weight }} KG
                                            {% endif %}


                                        </th>


                                        <th>
                                                <center>{{ athlete.athlete.person.birthDate |date }}</center>
                                            </th>
                                            <th>
                                                <center>{{ athlete.weight }}</center>
                                            </th>
                                            <th></th>

                                            {% if athlete.kop1b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop1 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop1 }}</font></center>

                                                </th>

                                            {% endif %}

                                            {% if athlete.kop2b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop2 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop2 }}</font></center>

                                                </th>

                                            {% endif %}



                                            {% if athlete.kop3b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop3 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop3 }}</font></center>

                                                </th>

                                            {% endif %}
                                            <th>
                                                <center>{{ athlete.koptotal }}</center>
                                            </th>
                                            {% if athlete.silk1b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk1 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk1 }}</font></center>

                                                </th>

                                            {% endif %}
                                            {% if athlete.silk2b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk2 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk2 }}</font></center>

                                                </th>

                                            {% endif %}
                                            {% if athlete.silk3b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk3 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk3 }}</font></center>

                                                </th>

                                            {% endif %}
                                            <th>
                                                <center>{{ athlete.silktotal }}</center>
                                            </th>
                                            <th>
                                                <center>{{ athlete.total }}</center>
                                            </th>
                                        </tr>



                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>


    </section>
    <script>
        $(function () {
            $('.sonuclar').DataTable({
                dom: 'Bfrtip',
                orderFixed: [[2, 'asc']],
                rowGroup: {
                    dataSrc: 2
                },
                buttons: [

                    {
                        extend: 'print',
                        title: 'SPOR BİLGİ SİSTEMİ <br> {{ competition.name }}',
                        text: '<i class="fa  fa-print"> </i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },
                        footer: true,

                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'SPOR BİLGİ SİSTEMİ SONUÇLAR',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },

                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'SPOR BİLGİ SİSTEMİ',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Başvuru Listesi ',
                        exportOptions: {
                            columns: [0, 1, ':visible']
                        },

                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'result.json'
                            );
                        }
                    }


                ],
                'paging': false,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,


            });


        });


    </script>








{% endblock %}

