{% extends 'base_layout.html' %}

{% block content %}


    <style>


        .ui-widget-overlay {
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            background: #000000;
            opacity: 0.7;
        }


    </style>




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">

        {% if compCategory.all %}
            {% for categori in compCategory %}
                <div class="box box-primary">
                    <center>
                        <h2 class="header">
                            <div class="content">
                                {{ categori.name }}
                            </div>
                        </h2>
                    </center>

                    <div class="box-body">

                        <table class="table sonuclar">
                            <thead>
                            <tr>
                                <th rowspan="2">
                                    <center>Derece</center>
                                </th>
                                <th rowspan="2">
                                    <center>Ad Soyad</center>
                                </th>
                                <th rowspan="2">
                                    <center>Doğum <br> Yılı</center>
                                </th>
                                <th rowspan="2">
                                    <center>Kilo</center>
                                </th>
                                <th rowspan="2">
                                    <center>İl/Kulüp</center>
                                </th>
                                <th colspan="3">
                                    <center>Koparma</center>
                                </th>
                                <th rowspan="2">
                                    <center>Koparma <br> Toplam</center>
                                </th>
                                <th colspan="3">
                                    <center>Silkme</center>
                                </th>
                                <th rowspan="2">
                                    <center>Silkme <br> Toplam</center>
                                </th>

                                <th rowspan="2">
                                    <center>Toplam</center>
                                </th>

                            </tr>
                            <tr>
                                <th>
                                    <center>1</center>
                                </th>
                                <th>
                                    <center>2</center>
                                </th>
                                <th>
                                    <center>3</center>
                                </th>
                                <th>
                                    <center>1</center>
                                </th>
                                <th>
                                    <center>2</center>
                                </th>
                                <th>
                                    <center>3</center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if compAthlete.all %}

                                {% for athlete in compAthlete %}

                                    {% if athlete.compcategory.pk is categori.pk %}




                                        <tr>


                                            <th>
                                                <div align="right" class="ui tiny header">{{ athlete.degree }}</div>
                                            </th>
                                            <th>{{ athlete.athlete.user.first_name }} {{ athlete.athlete.user.last_name }}</th>
                                            <th>
                                                <center>{{ athlete.athlete.person.birthDate |date }}</center>
                                            </th>
                                            <th>
                                                <center>{{ athlete.weight }}</center>
                                            </th>
                                            <th></th>

                                            {% if athlete.kop1b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop1 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop1 }}</font></center>

                                                </th>

                                            {% endif %}

                                            {% if athlete.kop2b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop2 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop2 }}</font></center>

                                                </th>

                                            {% endif %}



                                            {% if athlete.kop3b == 1 %}

                                                <th>
                                                    <center>{{ athlete.kop3 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.kop3 }}</font></center>

                                                </th>

                                            {% endif %}
                                            <th>
                                                <center>{{ athlete.koptotal }}</center>
                                            </th>
                                            {% if athlete.silk1b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk1 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk1 }}</font></center>

                                                </th>

                                            {% endif %}
                                            {% if athlete.silk2b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk2 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk2 }}</font></center>

                                                </th>

                                            {% endif %}
                                            {% if athlete.silk3b == 1 %}

                                                <th>
                                                    <center>{{ athlete.silk3 }}</center>

                                                </th>

                                            {% else %}
                                                <th style="background-color:rgba(255, 0, 0, 0.6);">
                                                    <center><font color="white">{{ athlete.silk3 }}</font></center>

                                                </th>

                                            {% endif %}
                                            <th>
                                                <center>{{ athlete.silktotal }}</center>
                                            </th>
                                            <th>
                                                <center>{{ athlete.total }}</center>
                                            </th>
                                        </tr>

                                    {% endif %}

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>

            {% endfor %}
        {% endif %}


    </section>
    <script>
        $(function () {
            {#$('.sonuclar').DataTable({#}
            {##}
            {#    'bubble': false,#}
            {#    'padding': false,#}
            {#    'lengthChange': false,#}
            {#    'searching': false,#}
            {#    'ordering': false,#}
            {#    'info': false,#}
            {#    'autoWidth': false,#}
            {#    'responsive': false,#}
            {#    'select': false,#}
            {##}
            {##}
            {# });#}

        });


    </script>




    </div>











    <script>
        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.berktug input[type="checkbox"]').iCheck({

                checkboxClass: 'icheckbox_flat-blue',

            });

        });
    </script>

    <script>
        $(function () {
            $('#sporcular').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            });
            $('#sonuclar').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': false,
                'autoWidth': true
            })

        })
    </script>

{% endblock %}

